{% extends 'base.html' %}
{% block title %}Добавление автомобиля{% endblock %}

{% block content %}
<div class="container-fluid pt-5">
    <h2 class="mb-4">Добавление автомобиля</h2>
    <form action="{% url 'rent:add_car' %}" method="POST">
        {% csrf_token %}

        <div class="row">
      <div class="col-4">
        <div class="form-group">
          <span class="text-muted">Марка автомобиля</span>
          <input
            class="form-control"
            type="text"
            required
            placeholder="Введите марку"
            name="brand"
          />
        </div>
      </div>
        </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <span class="text-muted">Модель автомобиля</span>
          <input
            class="form-control"
            type="text"
            required
            placeholder="Введите модель"
            name="model"
          />
        </div>
      </div>
        </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <span class="text-muted">Год выпуска</span
              ><input
                type="number"
                required
                placeholder="Введите год"
                name="release_year"
                class="form-control"
              />
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <span class="text-muted">Цвет</span>
          <input
            type="text"
            class="form-control"
            required
            placeholder="Введите цвет"
            name = 'color'
          />
        </div>
      </div>
        </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <span class="text-muted">Объем двигателя</span
              ><input
                type="number"
                required
                placeholder="Введите объем двигателя"
                name="engine"
                class="form-control"
                step="0.01"
              />
            </div>
          </div>
        </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <span class="text-muted">Лошадиные силы</span
              ><input
                type="number"
                required
                placeholder="Введите количество сил"
                name="hp"
                class="form-control"
              />
            </div>
    </div>
        </div>
    <div class="col-2">
        <div class="form-group">
          <span class="text-muted">Коробка</span>
              <select name="gearbox" class="form-control">
                <option value="МКПП">МКПП</option>
                <option selected value="АКПП">АКПП</option>
              </select>
        </div>
      </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
              <span class="text-muted">Стоимость</span
              ><input
                type="number"
                required
                placeholder="Введите стоимость"
                name="price"
                class="form-control"
              />
            </div>
          </div>
        </div>
        <button class="btn btn-success" type = "submit">Добавить</button>
    </form>
</div>
{% endblock %}