{% extends 'base.html' %}
{% block title %}Изменение аренды{% endblock %}

{% block content %}
    <div class="container-fluid pt-5">
        <h2 class="mb-4">Изменение аренды</h2>
        <form action="{% url 'rent:change_rent' rent.rent_id %}" method="POST">
            {% csrf_token %}
            <div class="col-2">
                <div class="form-group">
          <span class="text-muted">Автомобиль</span
          ><select class="form-control" name="cars">
                    {% for k,v in cars_names.items %}
                        {% if k == rent.cars.car_id %}
                            <option selected value="{{ k }}">{{ v }}</option>
                        {% else %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <span class="text-muted">Начало аренды</span>
                    <input
                            class="form-control"
                            type="date"
                            required
                            placeholder="Введите дату"
                            name="rent_from"
                            value = {{ rent.rent_from }}
                    />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <span class="text-muted">Конец аренды</span>
                    <input
                            class="form-control"
                            type="date"
                            required
                            placeholder="Введите дату"
                            name="rent_till"
                            value = {{ rent.rent_till }}
                    />
                </div>
            </div>
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
{% endblock %}