{% extends 'base.html' %}
{% block title %}Автомобили{% endblock %}

{% block content %}
<h4 class="mt-3">Автомобили</h4>
    {% if cars_list %}
<div class="d-flex flex-column py-3">
        {% for car in cars_list %}
    <a class="w-100 p-3 border rounded" href="{% url 'rent:cars_detailed' car.car_id%}">{{car.brand}} {{car.model}}</a>
        {% endfor %}
    {% else %}
        Данные не найдены
</div>
    {% endif %}
{% if user.is_authenticated %}
<a class="btn btn-success" href="{% url 'rent:add_car' %}" role="button">Добавить</a>
{% endif %}
{% endblock %}