{% extends 'base.html' %}
{% block title %}Автомобили{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center my-4">
        <h3 class="m-0">Автомобили</h3>
        {% if user.is_staff %}
            <a class="btn btn-success" href="{% url 'rent:add_car' %}" role="button">Добавить</a>
        {% endif %}
    </div>

    {% if cars_list %}
<div class="list-group py-3">
        {% for car in cars_list %}
    <a class="list-group-item list-group-item-action d-flex car" href="{% url 'rent:cars_detailed' car.car_id%}">
    <img class="pr-3" src="{{ car.image }}">
        <div class="info">
            <h5 class="mb-3">{{car.brand}} {{car.model}}</h5>
            <span class="text-muted">{{ car.gearbox }}</span>
        </div>

    </a>
        {% endfor %}

</div>
        {% else %}
        Данные не найдены
    {% endif %}
{% endblock %}